
    $colores: {
    primario : linear-gradient(rgb(12, 145, 197), rgb(158, 218, 241)),
    secunario: rgb(255, 255, 255),
    tercero: rgb(59, 89, 152),
    cuarto:rgb(131, 58, 180),
    quinto: rgb(14, 118, 168),  
    };

    %carrousel {
        width: 60%;
        height: 60%;
        object-fit: cover;
    }


    @mixin carrousel( $width , $height, $object) {
        width: $width;
        height: $height;
        object-fit: $object;
    }

    $medidas:{
    norma: 1rem,
    margen: 1% 5%;
}


    %imag {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin: 2%;
    }


    @mixin imag( $width , $height, $object,$margin) {
        width: $width;
        height: $height;
        object-fit: $object;
        margin: 2%;
    }
    
    %flexbox {
        display: flex;
        list-style: none;
        justify-content: center;
    }

    @mixin flexbox ($list,$justify){
    display: flex;
    list-style: none;
    justify-content: center;
}
